<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kaist.nmsl.scan" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".gps.GPSService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.AccelerometerService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.GravityService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.GyroscopeService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.RotationVectorService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.SignificantMotionService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.StepDectionService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.MagneticFieldService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.OrientationService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.ProximityService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.TemperatureService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.LightService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.PressureService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".sensor.HumidityService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".mic.MicrophoneService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".notification.NotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>
